<p><h3><%= t :training%></h3></p>

<br>

<%= form_for ([@day, @training]) do |f| %>
  <p>
    <strong><%= t :body_weight%></strong><br>
    <%= f.text_field :weight %>
  </p>
  <p>
    <strong><%= t :today_tr_desc%></strong><br>
    <%= f.text_area :info, :size => "50x3" %>
  </p>
  <p>
    <%= f.submit t(:edit), :class => 'btn btn-large btn-primary' %>
  </p>
<% end %>

<br>

<h4><%= t :exercises%></h4>
<br>
<table class="table table-striped">
<!--  <thead>
  <tr>
    <th><%= t :title%></th>
    <th><%= t :reps%></th>
    <th><%= t :max_weight%></th>
    <th><%= t :actions%></th>
  </tr>
  </thead>
-->
  <tbody>
  <% @training.trexercises.order('number').each do |trex| %> 
  <tr>
  <% if trex.dictitem %>
  <td>
    <% if I18n.locale == 'en'%>
      <td><img src="<%= trex.dictitem.img %>"></td>  
    <% else %>
      <td><img src="<%= trex.dictitem.img_ru %>"></td>  
    <% end %>
  </td>
  <% end %>
  <td><%= if I18n.locale == 'en'
          if trex.dictitem && trex.dictitem.url
             link_to trex.title, trex.dictitem.url, :target => "_blank"
           else
             trex.title
           end
      else
          if trex.dictitem && trex.dictitem.url_ru
             link_to trex.title, trex.dictitem.url_ru, :target => "_blank" 
           else
             trex.title
           end
  end  %></td>
  <td><%= trex.reps %></td>
  <td><%= trex.maxweight %></td>
  <td><%= button_to(t(:edit), edit_trexercise_path(trex), :method => "get", :class => 'btn btn-primary') %></td>
  <td><%= button_to(t(:up), up_trexercise_path(trex), :method => "get", :class => 'btn btn-mini')  %> </td>
  <td><%= button_to(t(:down), down_trexercise_path(trex), :method => "get", :class => 'btn btn-mini')  %> </td>
  <td><%= button_to(t(:destroy), trex, 
            method: :delete, data: { confirm: t(:confirm) }, :class => 'btn btn-mini btn-danger')  %> </td>
  </tr>
  <% end %>
 </tbody>
</table>
<br><br>

<h4><%= t :add_exercise %></h4>
<%= render "trexercises/trexercise" %>  <!-- "trexercises/form" -->
