<h3>Trainings</h3>
 
<table class="table table-striped">
  <thead>
  <tr>
    <th>Date Time</th>
    <th>Body Weight</th>
    <th>Info</th>
  </tr>
  </thead>
  <tbody>
  <% @trainings.each do |train| %> 
    <tr>
    <td><%= train.created_at %></td>
    <td><%= train.weight %></td>
    <td><%= train.weight %></td>
    <td><%= button_to('Show', train, :method => "get", :class => 'btn btn-mini')  %> </td>
<!--    <td><%= button_to('Edit Info', edit_day_path(day), :method => "get", :class => 'btn btn-mini')  %> </td>  -->
    <td><%= button_to('Delete', train, 
             method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger')  %> </td>
    </tr>
  <% end %>
 </tbody>
</table>
<% if @trainings.size == 0 %>
  <em> No trainings?!<br><br> </em>
<% end %>


<br><br>

<%= link_to 'Cancel', days_path, :method => "get", :class => 'btn btn-mini' %>

