<h3><%= t :new_training%></h3>

<br><br>

<%= form_for ([@day, @training]) do |f| %>
  <p>
    <strong><%= t :body_weight%></strong><br>
    <%= f.text_field :weight %>
  </p>
  <p>
    <strong><%= t :description%></strong><br>
    <%= f.text_area :info %>
  </p>
  <p>
    <%= f.submit t(:start_training) %>
  </p>
<% end %>


<br><br>

<%= link_to t(:cancel), days_path, :method => "get", :class => 'btn btn-primary' %>