<p><h3>New Training</h3></p>

<br><br>

<p><strong>Exercises:</strong></p>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Reps</th>
    <th>Max Weight</th>
  </tr>
  </thead>
  <tbody>
  <% @training.trexercises.each do |trex| %> 
  <tr>
  <td><%= trex.title %></td>
  <td><%= trex.reps %></td>
<!--  <td><%= trex.maxweight %></td>   -->   
  <td><input type="text" value="<%= trex.maxweight %>" name="<%= trex.id %>" class="field left" onchange="checkInput(this);"></td>     
  </tr>
  <% end %>
 </tbody>
</table>

<br><br>

<%= form_for ([@day, @training]) do |f| %>
  <p>
    <strong>Today Body Weight</strong><br>
    <%= f.text_field :weight %>
  </p>
  <p>
    <strong>Today Training`s Description</strong><br>
    <%= f.text_area :info %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>


<br><br>

<%= button_to('Cancel', days_path, :method => "get", :class => 'btn btn-primary') %>

<!--
<script type="text/javascript" languge="javascript">
function checkInput(obj) 
{
  $.ajax({
      url: 'setmaxweight',
      dataType: 'json',
      type: 'POST',
      data: { id: obj.name, maxweight: obj.value }
        } );
  alert(obj.name + ' ' + obj.value);
}
</script>
-->