<p><h3><%= t :training%></h3></p>

<br>

<p>
  <h5><%= t :date_time%>:</h5> <h4><%= @training.created_at.strftime("%d.%m.%Y %H:%M") %></h4>  
</p>
<p>
  <h5><%= t :body_weight%>:</h5> <h4><%= @training.weight %></h4>  
</p>
<p>
  <h5><%= t :description%>:</h5> <h4><%= @training.info %></h4>
</p>

<br>

<p><h4><%= t :exercises%></h4></p>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t :title%></th>
    <th><%= t :reps%></th>
    <th><%= t :max_weight%></th>
  </tr>
  </thead>
  <tbody>
  <% @training.trexercises.each do |trex| %> 
  <tr>
  <td><%= trex.title %></td>
  <td><%= trex.reps %></td>
  <td><%= trex.maxweight %></td>
  </tr>
  <% end %>
 </tbody>
</table>
<% if @training.trexercises.size == 0 %>
  <em><%= t :sch_empty %></em>
<% end %>

<br><br>

<%= link_to t(:edit), edit_training_path(@training), :method => "get", :class => 'btn btn-primary'  %>
<%= link_to t(:back), :back, :method => "get", :class => 'btn btn-primary' %>
