<%= form_for @user do |f| %>
  <p>
    <span style="color:white"><%= t :username %></span><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <span style="color:white"><%= t :email_login %></span><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <span style="color:white"><%= t :password %></span><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <span style="color:white"><%= t :password_confirmation %></span><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <br>  
  <p class="button"><%= f.submit t(:save), :class => 'btn btn-large btn-primary' %></p>
<% end %>