<h3><%= t :you %></h3>

<%= form_for @user do |f| %>

  <p>
    <%= t :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= t :email_login %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= t :password %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= t :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <br>
  <p>
    <%= f.check_box :notific %> <%= t :notificneeded %>
  </p>
  <br>  
  <p class="button"><%= f.submit t(:save), :class => 'btn btn-large btn-primary' %></p>
<% end %>