<h4><%= if @user == current_user
           t(:you) 
        end %></h4>

<h3><%= t(:username) %>: <%= @user.username %></h3>
<% if @user == current_user %><h3>
     <%= t(:email)%>: <%= @user.email %></h3>
       <br>
       <%= button_to(t(:edit), edit_user_path(@user), :method => "get",  :class => 'btn btn-mini') %>
<%else%>       
<%= @fr = current_user.friendships.where('friend_id = ?', @user.id).first
         if @fr
      link_to t(:fr_remov), @fr, :method => :delete, :class => 'btn btn-mini btn-danger'
    else
       link_to t(:fr_add), friendships_path(:friend_id => @user.id), :method => :post, :class => 'btn btn-primary' 
        end %>
<%end%> 
<br><br>

<h4><%= t(:friends) %></h4>
<table class="table table-striped">
<tbody>
  <% for friendship in @user.friendships %>
    <tr>
      <td><strong><%= link_to friendship.friend.username, friendship.friend %></strong></td>
      <td><%if friendship.friend != current_user %>
      <%= @fr = current_user.friendships.where('friend_id = ?', friendship.friend.id).first
         if @fr
      link_to t(:fr_remov), @fr, :method => :delete, :class => 'btn btn-mini btn-danger'
    else
       link_to t(:fr_add), friendships_path(:friend_id => friendship.friend.id), :method => :post, :class => 'btn btn-primary' 
        end %>
       <%end%></td>  
   </tr>  
  <% end %>
</tbody>
</table>

<% if @user.friendships.size == 0 %>
  <em><%= t :empty %></em>
<% end %>

<br>

<% if @user == current_user %>
<h4><%= link_to t(:find_friends), users_path, :class => 'btn btn-primary' %></h4>
<% end %>

<br><br>

<h4><%= t(:friended_by) %></h4>
<table class="table table-striped">
<tbody>
  <% for user in @user.inverse_friends %>
    <tr>
      <td><strong><%= link_to user.username, user %></strong></td>
      <td><%if user != current_user %>
      <%= @fr = current_user.friendships.where('friend_id = ?', user.id).first
         if @fr
      link_to t(:fr_remov), @fr, :method => :delete, :class => 'btn btn-mini btn-danger'
    else
       link_to t(:fr_add), friendships_path(:friend_id => user), :method => :post, :class => 'btn btn-primary' 
        end %>
     <%end%> </td>        
    </tr>       
  <% end %>
</tbody>
</table>

<% if @user.inverse_friends.size == 0 %>
  <em><%= t :empty %></em>
<% end %>

<br><br>

<% if @user != current_user %>
  <h4><%= t(:activity) %></h4>
  <table class="table table-striped">
  <thead>
  <tr>
    <th><%= t :date_time %></th>
    <th><%= t :name %></th>
    <th><%= t :body_weight %></th>    
   </tr>
   </thead>
  <tbody>
  <% for tr in Training.joins(:day).where('user_id in (?)', @user).order('created_at DESC').limit(10) %>
    <tr>       
      <td><%= tr.created_at.strftime("%d.%m.%Y %H:%M")%></td>
      <td>"<%= tr.day.title %>"</td>
      <td><%= tr.weight %></td>
    </tr>       
  <% end %>
  </tbody>
  </table>
<% end %>