<h3><%= t(:you) %></h3>

<h2><%= @user.username %></h2>

<br><br>

<h3><%= t(:friends) %></h3>
<table class="table table-striped">
<tbody>
  <% for friendship in @user.friendships %>
    <tr>
      <td><strong><%= friendship.friend.username %></strong></td>
      <td><%= link_to t(:destroy), friendship, :method => :delete, :class => 'btn btn-mini btn-danger' %></td>
   </tr>  
  <% end %>
</tbody>
</table>

<% if @user.friendships.size == 0 %>
  <em><%= t :empty %></em>
<% end %>

<br>
<br>

<p><%= link_to t(:find_friends), users_path, :class => 'btn btn-primary' %></p>

<br><br>

<h3><%= t(:friended_by) %></h3>
<table class="table table-striped">
<tbody>
  <% for user in @user.inverse_friends %>
    <tr>
      <td><strong><%= user.username %></strong></td>
      <td><%= @fr = current_user.friendships.where('friend_id = ?', user.id).first
         if @fr
      link_to t(:fr_remov), @fr, :method => :delete, :class => 'btn btn-mini btn-danger'
    else
       link_to t(:fr_add), friendships_path(:friend_id => user), :method => :post, :class => 'btn btn-primary' 
        end
      %></td> 
    </tr>       
  <% end %>
</tbody>
</table>

<% if @user.inverse_friends.size == 0 %>
  <em><%= t :empty %></em>
<% end %>