<h4><%= if @user == current_user
           t(:you) 
        end %></h4>

<div id ="prof_details">
  <%= render 'profile_part' %>
</div>

<br><br>

<% if @user != current_user %>
  <h4><%= t(:activity) %></h4>
  <table class="table table-striped">
  <thead>
  <tr>
    <th><%= t :date_time %></th>
    <th><%= t :title %></th>
    <th><%= t :body_weight %></th>    
   </tr>
   </thead>
  <tbody>
  <% for tr in Training.joins(:day).where('user_id in (?)', @user).order('created_at DESC').limit(10) %>
    <tr>       
      <td><%= tr.created_at.strftime("%d.%m.%Y %H:%M")%></td>
      <td>"<%= tr.day.title %>"</td>
      <td><%= tr.weight %></td>
    </tr>       
  <% end %>
  </tbody>
  </table>
<% end %>


<br><br>

<div id ="wallochka">
  <%= render 'comments_part' %>
</div>
