<h3><%= t(:c531) %></h3>

<br>
<br>
<% if current_user  
    fpath = aform531_days_path
else
    fpath = '/results531' #form531_sessions_path
end %>
 <%=  form_tag(fpath, method: "get", id: "form-531") do %>


    <p><%= t(:ov_press) %> <%= text_field_tag 'delt_max', nil, placeholder: t(:kilos) ,size: 5, class: "span2" %> 
    	x <%= text_field_tag 'delt_reps', nil, placeholder: t(:reps) ,size: 5, class: "span2" %> </p>
</br></br>
    <p><%= t(:deadlift) %> <%= text_field_tag 'dead_max', nil, placeholder: t(:kilos), size: 5, class: "span2" %> 
    	x <%= text_field_tag 'dead_reps', nil, placeholder: t(:reps) ,size: 5, class: "span2" %> </p>
</br></br>
    <p><%= t(:bench_press) %> <%= text_field_tag 'bench_max', nil, placeholder: t(:kilos), size: 5, class: "span2" %> 
    	x <%= text_field_tag 'bench_reps', nil, placeholder: t(:reps) ,size: 5, class: "span2" %> </p>
</br></br>
    <p><%= t(:squats) %> <%= text_field_tag 'sq_max', nil, placeholder: t(:kilos) ,size: 5, class: "span2" %> 
    	x <%= text_field_tag 'sq_reps', nil, placeholder: t(:reps), size: 5, class: "span2" %> </p>

 </br></br></br>
<p><strong><%= t(:base_stuff) %></strong></p>
    <p><%= check_box_tag 'warmup', 'true', true %> <%= t(:warm_up)%></p>
    <p><%= check_box_tag 'pwrlift', 'true', false %> <%= t(:powerlift351)%></p>
    <p><%= check_box_tag 'threewks', 'true', false %> <%= t(:threeweeks)%></p>
    <p><%= check_box_tag 'shrink', 'true', true %> <%= t(:howweround)%></p>
<br><p><strong><%= t(:down_sets) %></strong></p>
    <p><%= check_box_tag 'pyramid', 'true', false %> <%= t(:pyramid)%></p>
    <p><%= check_box_tag 'joker', 'true', false %> <%= t(:joker_sets)%></p>
    <p><%= check_box_tag 'fsl', 'true', false %> <%= t(:firts_set_last)%></p>
    <p><%= check_box_tag 'fslms', 'true', false %> <%= t(:firts_set_last_ms)%></p>
<br><p><strong><%= check_box_tag 'is_assist', 'true', true %> <%= t(:assis_template) %></strong></p>    
    <p><%= radio_button_tag 'assist', 'bbb', true %> <%= t(:bigbutboring)%> <br>
    <%= radio_button_tag 'assist', 'sst' %> <%= t(:simple_st)%></p>  

 </br></br>

  <%= submit_tag t(:calculate), :name => nil, :class => 'btn btn-primary' %>
<% end %>

<br>
<br>

