
<h3><%= t :schedule %></h3>
 
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t :title%></th>
    <th><%= t :description%></th>
    <th><%= t :actions%></th>
  </tr>
  </thead>
  <tbody>
  <% @days.each do |day| %> 
    <tr>
    <td><%= day.title %></td>
    <td><%= day.text %></td>
    <td><%= button_to(t(:show), day, :method => "get", :class => 'btn btn-mini')  %> </td>
    <td><%= button_to(t(:train), new_day_training_path(day), :method => "get", :class => 'btn btn-large btn-primary')  %> </td>
    <td><%= button_to(t(:past_train), day_trainings_path(day), :method => "get", :class => 'btn btn-mini') %></td>
    <td><%= button_to(t(:destroy), day, 
             method: :delete, data: { confirm: t(:confirm) }, :class => 'btn btn-mini btn-danger')  %> </td>
    </tr>
  <% end %>
 </tbody>
</table>
<% if @days.size == 0 %>
  <em><%= t :sch_empty %></em>
<% end %>

<br><br>


<%= link_to t(:add_new_day), new_day_path, :method => "get", :class => 'btn btn-primary' %> 
<%= link_to t(:whole_schedule), wholeweek_days_path, :method => "get", :class => 'btn btn-primary' %>
<%= link_to t(:history), history_trainings_path, :method => "get", :class => 'btn btn-primary' %>
