<h3><%= t :schedule %></h3>
 
<div id="days_table">
  <%= render "days_list" %>
</div>

<br><br>
<% if @trainings.size < 2 %>
  <em><%= t :therebechart %></em>
<% else %>
  <h4><%= t(:body_weight) %>:</h4>
  <%= line_chart @trainings.map { |e| [e.created_at, e.weight] }, min: @trainings.minimum(:weight) - 5, max: @trainings.maximum(:weight) + 5 %>
<% end %>
<br><br>
<br><br>
           