<h1>Schedule</h1>
 
<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Info</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <% @days.each do |day| %>
    <tr>
    <td><%= day.title %></td>
    <td><%= day.text %></td>
    <td><%= button_to('Show', day_path(day), :method => "get", :class => 'btn btn-large btn-primary')  %> </td>
    <td><%= button_to('Edit', edit_day_path(day), :method => "get", :class => 'btn btn-large btn-primary')  %> </td>
    <td><%= button_to('Delete', day_path(day), 
             method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger')  %> </td>
    </tr>
  <% end %>
 </tbody>
</table>

<br><br>

<%= link_to 'Add New', new_day_path, :method => "get", :class => 'btn btn-primary' %>