<p>
  <h3><%= @day.title %></h3>  
</p>
<p>
  <h4><%= @day.text %></h4>
</p>

<td><%= link_to t(:edit_desc), edit_day_path(@day), :method => "get", :class => 'btn btn-large btn-primary'  %> </td>
<br><br>

<h4><%= t :exercises %></h4>

<div id="exers_table">
  <%= render 'exercises/list' %>
</div>

<br><br>

<h4><%= t :add_exercise%></h4>

<%= render "exercises/form" %>

<%= link_to t(:train), new_day_training_path(@day), :method => "get", :class => 'btn btn-large btn-primary' %> 