<p>
  <h3><%= @day.title %></h3>  
</p>
<p>
  <h4><%= @day.text %></h4>
</p>

<td><%= button_to(t(:edit_desc), edit_day_path(@day), :method => "get", :class => 'btn btn-mini')  %> </td>
<br><br>

<p><h4><%= t :exercises%></h4></p>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t :title%></th>
    <th><%= t :reps%></th>
    <th><%= t :max_weight%></th>
    <th><%= t :actions%></th>
  </tr>
  </thead>
  <tbody>
      <%= render @day.exercises %>
 </tbody>
</table>
<% if @day.exercises.size == 0 %>
  <em><%= t :day_empty%><br><br> </em>
<% end %>


<br><br>

<p><h4><%= t :add_exercise%></h4></p>
<%= render "exercises/form" %>

<br><br>

<%= button_to(t(:train), new_day_training_path(@day), :method => "get", :class => 'btn btn-large btn-primary')  %> 
<br>
<%= link_to t(:back_to_sch), days_path, :method => "get", :class => 'btn btn-primary' %>