<p>
  <strong><%= @day.title %></strong>  
</p>
<p>
  <%= @day.text %>
</p>

<br><br>

<p><strong>Exercises:</strong></p>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Reps</th>
    <th>Max Weight</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
      <%= render @day.exercises %>
 </tbody>
</table>



<br><br>

<p><strong>Add an exercise:</strong></p>
<%= render "exercises/form" %>

<br><br>

<br><br>
<%= link_to 'Days List', days_path, :method => "get", :class => 'btn btn-primary' %>
<%= link_to 'Edit day info', edit_day_path(@day), :method => "get", :class => 'btn btn-primary' %>