<h3><%= t :whole_schedule %></h3>
 
 <br><br>

<% i = 0 %>
<% while(i <= @days.count - 1) do %>
  <% if i == @days.count - 1 
    j = nil 
    else 
    j = i + 1 end %>
  <table class="table table-striped" border="1" bordercolor="#C0C0C0">
  <tbody>
  <tr> 
    <td bgcolor="#C0C0C0" width = "40%"><strong><%= @days[i].title %></strong> <%= @days[i].text %></td>
    <td bgcolor="#C0C0C0" width = "5%"></td><td bgcolor="#C0C0C0" width = "5%"></td>  
    <% if j %>
      <td bgcolor="#C0C0C0" width = "40%"><strong><%= @days[j].title %></strong> <%= @days[j].text %></td>
      <td bgcolor="#C0C0C0" width = "5%"></td><td bgcolor="#C0C0C0" width = "5%"></td>
    <% else %> 
      <td bgcolor="#C0C0C0" width = "40%"></td><td bgcolor="#C0C0C0" width = "5%"><td bgcolor="#C0C0C0" width = "5%"></td>
    <% end %> 
  </tr> 
  <% k = 0 %>
  <% exers_i = @days[i].exercises.order("number") %>
  <% if j %>
    <% exers_j = @days[j].exercises.order("number") %>
  <% end %>
  <% while (k <= exers_i.count - 1) || (j && k <= exers_j.count - 1 ) do %>
    <tr>   
    <% if k <= exers_i.count - 1 %>
      <% exer = exers_i[k] %>
      <td><%= exer.title %></td>
      <td align="center"><%= exer.reps %></td>
      <td align="center"><%= exer.maxweight %></td>  
    <% else %> 
      <td></td><td></td><td></td>  
    <% end %> 
    <% if j && k <= exers_j.count - 1 %>
      <% exer = exers_j[k] %>
      <td><%= exer.title %></td>
      <td align="center"><%= exer.reps %></td>
      <td align="center"><%= exer.maxweight %></td>
    <% else %> 
      <td></td><td></td><td></td>
    <% end %> 
    <% k = k + 1 %>
    </tr> 
  <% end %>
  </tbody>
  </table>
  <br><br>
  <% i = i + 2 %>
<% end %> 

<% if  @days.count == 0 %>
  <em><%= t :empty %></em>
<% end %> 