<h3><%= t(:meals)%> <%= @ddate.strftime("%d.%m.%Y") %></h3>

 <br><br>


<div id="meals_table">
  <%= render "meals_list" %>
</div>

<%= render "form" %>

<br><br><br>

<%= button_to(t(:mealdishes), mealdishes_path, :method => "get", :class => 'btn btn-large btn-primary')  %>