<%= form_for([@day, @training, @training.trexercises.build]) do |f| %>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t :title%></th>
    <th><%= t :reps%></th>
    <th><%= t :max_weight%></th>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td><%= f.text_field :title %></td>
    <td><%= f.text_field :reps %></td>
    <td><%= f.text_field :maxweight %></td>
    </tr>
 </tbody>
</table>
    <%= f.submit t(:add_exercise) %>
<% end %>