<h3><%= t :edit_exercise%></h3>

<br><br>

<%= form_for ([@day, @training, @trexercise]) do |f| %>
  <p>
    <strong><%= t :title%></strong><br>
    <%= f.text_field :title, :readonly => true%>
  </p>
  <p>
    <strong><%= t :reps%></strong><br>
    <%= f.text_area :reps %>
  </p>
  <p>
    <strong><%= t :max_weight%></strong><br>
    <%= f.text_area :maxweight %>
  </p>
  <p>
    <%= f.submit t(:save)%>
  </p>
<% end %>



