<%= form_for([@day, @day.exercises.build]) do |f| %>
  <p>
    <%= f.label :title %>: <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :reps %>: <%= f.text_field :reps %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>