<%= form_for([@day, @day.exercises.build]) do |f| %>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t :choose%></th>
    <th><%= t :custom%></th>
    <th><%= t :reps%></th>
    <th><%= t :max_weight%></th>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td><%= if I18n.locale == 'en'
         f.collection_select :dictitem_id, Dictitem.order(:name), :id, :name, include_blank: true 
           else
         f.collection_select :dictitem_id, Dictitem.order(:name_ru), :id, :name_ru, include_blank: true 
           end  %></td>
    <td><%= f.text_field :title %></td>
    <td><%= f.text_field :reps %></td>
    <td><%= f.text_field :maxweight %></td>
    </tr>
 </tbody>
</table>
    <%= f.submit t(:add_exercise), :class => 'btn btn-large btn-primary' %>
<% end %>
<br/><br/>
<br/>