<% case @day.kind
      when 0
        if I18n.locale == :en
          dictitems = Dictitem.where.not(kind: 2).order(:name)
        else
          dictitems = Dictitem.where.not(kind: 2).order(:name_ru)
        end
      when 1 
        if I18n.locale == :en
          dictitems = Dictitem.where(kind: 1).order(:name)
        else
          dictitems = Dictitem.where(kind: 1).order(:name_ru)
        end
      when 2 
        if I18n.locale == :en
          dictitems = Dictitem.where(kind: 2).order(:name)
        else
          dictitems = Dictitem.where(kind: 2).order(:name_ru)
        end
       else 
        if I18n.locale == :en
          dictitems = Dictitem.order(:name)
        else
          dictitems = Dictitem.order(:name_ru)
        end
    end 
 %>

<%= form_for([@day, @day.exercises.build]) do |f| %>
<table class="table table-striped">
  <tbody>
  <tr>
    <td><strong><%= link_to t(:choose), '/dictitems?from=dday&id=' + @day.id.to_s %></strong></td>
    <td><%= f.collection_select :dictitem_id, dictitems, :id, :name, { include_blank: true, selected: params[:chosen] }, { style: "height:26px; width:400px" }
         %></td>
    <td><strong><%= t :custom%></strong></td><td><%= f.text_field :title, style: "width:270px" %></td>
  </tr>
  <tr>
    <td><strong><%= t :reps%></strong></td><td><%= f.text_field :reps, style: "width:160px" %></td>
    <td><strong><%= t :max_weight%></strong></td><td><%= f.text_field :maxweight, style: "width:160px" %></td>
  </tr>
  </tbody>
</table>
    <%= f.submit t(:add), :class => 'btn btn-large btn-primary' %>
<% end %>
<br/><br/>
<br/><br/>