<%= form_for([@day, @day.exercises.build]) do |f| %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Reps</th>
    <th>Max Weight</th>
  </tr>
  </thead>
  <tbody>
    <tr>
    <td><%= f.text_field :title %></td>
    <td><%= f.text_field :reps %></td>
    <td><%= f.text_field :maxweight %></td>
    </tr>
 </tbody>
</table>
    <%= f.submit %>
<% end %>